@import "~@/style/index.less";
.wrapper{
	width:100%;
	height:100%;
	overflow: hidden;
	background: #fff;
	.content{
		/*max-width:@maxWidth;*/
		min-width:@minWidth;
		margin:0 auto;
		width:@w100;
		height:@h100;
		overflow:auto;
		background-image: url(@/image/illustratedHandbook/bg.jpg);
		.contentPage{
			padding-bottom: @mainTabh;
		}
	}
}
.mainTab{
	position:fixed;
	bottom:0px;
	width:@w100;
	/*max-width:@maxWidth;*/
	min-width:0;
	height:@mainTabh;
	background-color: #E6E6FA;
	box-sizing: border-box;
	.tabUl{
		display: flex;
		height: @h100;
		.tabLi{
			min-width: 0;
			flex:1;
			display:flex;
			justify-content:center;
			align-items: center;
			i{
				font-size: @tabIconFz;
				display: block;
			}
			.tabLiText{
				font-size: @tabTextFz;
			}
		}
	}
}
:global(a:link){
	text-decoration: none;
}
:global(a:visted){
	text-decoration: none;
}
:global(a:hover){
	text-decoration: none;
}
:global(a:active){
	text-decoration: none;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
}  